<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Create Task DateTime</th>
        <th scope="col">Work Time Task</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{task.description}}</td>
        <td>{{task.createTaskDateTime}}</td>
        <td>{{task.workTimeTask}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
